<div class="row">
	<div class="col s12">
		<h1 class="list_name">New List</h1>

		<div class="forms">
			<%= render 'form' %>
		</div>

		<div class="links">
			<%= link_to 'Back', lists_path %>
		</div>
	</div>
</div>
