<div id='task_<%= task.id%>' class="menu-option">
	<div class="col s10 md-dark" style="text-decoration: line-through;">
	  <%= yield %>
	</div>
	<div class="col s2">
			 <% if permitted_user?(@user,current_list) %>
				 <%= link_to task, method: :delete, data: {confirm: "Are you sure?"}, remote: true do %>
						<i class="material-icons md-dark md-inactive md-18">cancel</i>
				 <% end %>
			 <% end %>
 </div>
</div>
