<%= form_for(@task, :remote => true,:html => {:"data-behavior" => 'modal-form'}) do |f| %>
	<div class="input-field col">
		<%= f.text_field :detail, id: "detail" %>
  </div>
	<div class="col input-field">
		 <a class="waves-effect waves-light su-btn btn-flat submit"><%= f.submit "ADD"%></a>
	</div>
<% end %>
