<div class="row">
  <div class="col s12">
    <div class="field">
      <%= f.hidden_field :current_step, :value => "avatar" %>
      <%= f.label :avatar %></br>
      <%= f.file_field :avatar %>
    </div>
    <div class="input-field center-align">
      <a class="waves-effect waves-light su-btn btn-flat submit"><%= submit_tag "Update Avatar"%></a>
    </div>
  </div>
</div>
