// Place all the styles related to the tasks controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
#complete_tasks ul.menu-option form {
  font-size: 12px;
  color: #777;
  margin: 3px 0;
  label { text-decoration: line-through; }
}
.show_blockers {
  // padding: 20px 40px;
  // background: aliceblue;
  // min-height: 80px;
}
.show_blockers p{
  padding-bottom: 5px;
}
.table-of-task ul.menu-option >li{
  display: inline-block;
  text-align: center;
  vertical-align: top;
  // height: 30px;
  padding-right: 8px;
}
.table-of-task [type="checkbox"]:checked+label:before {
  width: 10px;
  height: 20px;
}
.table-of-task [type="checkbox"]+label {
    padding-left: 16px;
}
.table-of-task{
    font-weight: 500;
  }
.table-of-task div.today {
    border-left: 2px solid #56c2bb;
}
.table-of-task div.before {
    border-left: 2px solid #f9a95a;
}
.table-of-task ul.menu-information{
  font-size: 14px;
  line-height: 20px;
  color: #a4a6a9;
}
.table-of-task #menu{
  padding: 0;
}
// ul.menu-option > li:first-child {
//   width: 41%;
//   text-align: left;
// }
#complete_tasks ul.menu-option #completed{
  display:none;
}

/********* Modal *********/
#ms-modal-dialog.modal {
  width:100%;
  max-height:100vh;
  top:0!important;
  height:100vh;
}
#ms-modal-dialog.modal .modal-close{
  position: absolute;
  top: 0;
  right: 0;
  z-index: 999;
}
#ms-modal-dialog.modal input#detail{
  min-width: 600px;
}
#ms-modal-dialog.modal .modal-content{
  margin: 0 auto;
}
// #new_blocker:not(.active) {
//   display: none;
// }
//
// #new_blocker.active{
//   display: block;
// }
